html{
    font-family: 'Times New Roman', Times, serif;
}

h1{
   font-size: 50px;
}


header{
    background-image: url("img/p.png");
    background-size: contain;
    background-color: dodgerblue;
    padding-top: 26px;

}

#logo {
    height: 70px;
    
}

#celeste{
    color:deepskyblue;
}

#in_grigio{
    color:grey;
    font-size: large;
}

.giallo{
    background-color:rgb(255, 255, 124);
}

th{
    background-color: dodgerblue;
    color: white;
}
.tsfondo{
    background-color:rgba(133, 196, 198, 0.682);
}

#gg{
    color: gray;
}

#back1{
    background-image: url("img/mon.jpg");
    background-size: contain;
    width: 260px;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;

}

#back2{
    background-image: url("img/gr.jpg");
    background-size: contain;
    width: 260px;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

.biancone{
    color: white;
    
}